<ion-header>
  <ion-toolbar>
    <ion-title>Fees</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let product of products">
    <ion-card-header>
      <ion-card-title>{{ product.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- <img [src]="product.image" alt="{{ product.title }}" style="width: 100%; height: auto; margin-bottom: 10px;" /> -->
      <p><strong>Price:</strong> ${{ product.price }}</p>
      <!-- <p>{{ product.description }}</p> -->
    </ion-card-content>
  </ion-card>
</ion-content>
